<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs and Workers</title>
    <link rel="stylesheet" href="../../styles.css"/>
    <script type="module" src="worker_view.js" defer="defer"></script>
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Jobs and Workers</h1>
    </header>

    <nav class="navigation-bar">
        <ul>
            <li><a href="../../index.html">main</a></li>
            <li><a href="../list/jobs_list.html">jobs</a></li>
        </ul>
    </nav>

    <section class="main-section">
        <article class="text--justified">
            <section>
                <h3>Worker view</h3>
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>job</th>
                        <th>surname</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    <tr>
                        <td id="job"></td>
                        <td id="surname"></td>
                        <td id="name"></td>
                        <td id="age"></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </article>
    </section>
</div>
</body>
</html>
